body {
  background-color: #a49bf2;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d1d1d;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #7e7e7e;
}

header {
  text-align: center;
  padding: 50px;
}

header h1 {
  color: #000000;
}

section {
  padding: 50px;
}

section h2 {
  color: #000000;
}

section ul {
  list-style-type: none;
}

section ul li {
  margin-bottom: 10px;
}

section ul li:before {
  content: "•";
  color: #7e7e7e;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

section p {
  color: #000000;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #1d1d1d;
}

footer p {
  color: #000000;
}
