/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set global font styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #8a2be2;
  background-color: #000000;
}

/* Style header */
header {
  text-align: center;
  padding: 2rem;
}

header h1 {
  font-size: 3rem;
  text-shadow: 2px 2px #ffffff;
}

header p {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-shadow: 1px 1px #ffffff;
}

/* Style navigation menu */
nav {
  background-color: #8a2be2;
  padding: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
  list-style: none;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}

nav li a:hover {
  color: #ffd700;
}

/* Style main content */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

main section {
  flex: 1 1 25rem;
  margin: 2rem;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 1px 1px #ffffff;
}

main ul {
  list-style: none;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: justify;
  text-shadow: 1px 1px #ffffff;
}

main p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: justify;
  text-shadow: 1px 1px #ffffff;
}

/* Style support section */
#support {
  text-align: center;
}

#support p {
  font-size: 1.2rem;
  text-align: center;
}

#support a {
  color: #ffd700;
}

/* Style footer */
footer {
  background-color: #8a2be2;
  text-align: center;
  padding: 1rem;
}

footer p {
  font-size: 1.2rem;
  color: #ffffff;
}

/* Style motion picture */
#motion-picture {
  position: relative;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

#motion-picture img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    filter: brightness(70%) saturate(150%) contrast(150%);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    filter: brightness(120%) saturate(200%) contrast(200%);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    filter: brightness(70%) saturate(150%) contrast(150%);
  }
}
